{% assign tags = include.tags | split:'|' | sort | uniq %} {% if tags.size > 0 %}
<div class="tag-list">
    <ul style="list-style-type: none;">
        {% if tags.size == 1 %}
        <li style="display:inline" class="meta">TAG:</li>
        {% else %}
        <li style="display:inline" class="meta">TAGS:</li>
        {% endif %} {% for tag in tags %}

        <li style="display:inline">
        <a href="#{{ tag | cgi_escape }}">
        <button style="border-radius: 8px; background-color: white; color: black; border: 1px solid   #406eff; padding: 8px">
            <span style="font-family: tahoma, arial, helvetica, sans-serif;">
                <b><span class="fa-solid fa-tag"></span> {{ tag }} &nbsp;</b>
        </buttton>
            </span>
        </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<div class="tag-list"></div>
{% endif %}
